<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalle"></Label>
</ActionBar>
<StackLayout class="page page-content" #layout orientation="vertical">
    <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <Label class="page__content-placeholder" textDecoration="underline" text="Detalle"></Label>
</StackLayout>

<GridLayout columns="auto,*,auto" rows="auto,40, 40" verticalAlignment="top"
backgroundColor="lightgray">
    <!--Image [src]="'~/app/images/' + 'news.jpg'" rowSpan="2" widht="72" height="72"
    margin="3" verticalAlignment="top"></Image-->
    <Label [text]="getTitulo()" textWrap="true" col="1"
    colSpan="2" minHeight="50" fontSize="20" margin="3"></Label>
    <Label [text]="getTexto()" row="1" colSpan="2" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
    
    <Label [text]="getVotos()" col="2" row="1" color="#10c2b0" fontSize="14" verticalAlignment="bottom" margin="3"></Label>
    <Label class="far" col="3" row="3" text="&#xf164;" fontSize="20" verticalAlignment="bottom" horizontalAlignment="left" margin="3"
    (tap)="onTap('votoUp')"
    ></Label>
    <Label class="far" col="3" row="3" text="&#xf165;" fontSize="20" verticalAlignment="bottom" horizontalAlignment="right" margin="3"
    (tap)="onTap('votoDown')"
    ></Label>
    <Button class="favorito" col="1" row="3" text="Favorito" (tap)="onButton1Tap('/favoritos')" horizontalAlignment="center" width="80"></Button>
    
</GridLayout>
<Label class="far fa-thumbs-up" fontSize="14" ></Label>

<Button class="-primary -rounded-sm" text="Volver a Noticias" (tap)="onButtonTap('/noticias')" width="100" margin="3"></Button>

