<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Favoritos"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf772;"></Label>
    <Label class="page__content-placeholder" text="Favoritos"></Label>
            <ListView class="list-group" [items]="this.listaFavoritos">
                <ng-template let-x="item">
                    <FlexboxLayout flexDirection="row">
                        <Label class="fas" text="&#xf005;" style="width: 10%; color: #ffcc00;" verticalAlignment="center"></Label>
                        <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"
                        (tap)="onNavItemTap('/detalle',x)"></Label>
                    </FlexboxLayout>
                </ng-template>
            </ListView>
</StackLayout>
