<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Noticias"></Label>
</ActionBar>
<PullToRefresh (refresh)="onPull($event)" indicatorFillColor="#fff000" indicatorColor="#3489db">
    <StackLayout class="page page-content" #layout orientation="vertical" >
        <Button class="-rounded-sm" text="Ver Favoritos" (tap)="onButtonTap('/favoritos')" width="100"></Button>
        <Label class="page__content-icon far" text="&#xf1ea;"></Label>
        <Label class="page__content-placeholder" textDecoration="underline" text="Noticias"></Label>
        <NewsForm (search)="buscarAhora($event)" [inicial]="'Futb'"></NewsForm>
        <Label class="page-icon fa" text="&#xf002;"></Label>
        <Image src = {{ruta}} height="7%" (longPress)="onLongPressImg()"></Image>

            <!--ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)"
            style="height:1250px">
                <ng-template let-x="item">
                    <FlexboxLayout flexDirection="row" class="list-group-item">
                        <Image src="res://icon" class="thumb img-circle"></Image>k
                        <Label [text]="x" class="list-group-item-heading"
                            verticalAlignment="center" style="width: 60%" (tap)="onNavItemTap('/detalle',x)"></Label>
                    </FlexboxLayout>
                </ng-template>
            </ListView-->    

        <ListView class="list-group" [items]="this.resultados" style="height:1250px">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle" (tap)="onNavItemTap('/detalle',x)" (longPress)="onLongPress(x)"></Image>
                    <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"
                        (tap)="onNavItemTap('/detalle',x)"></Label>
                    <Label class="fas" text="&#xf005;" style="width: 10%; color: #ffcc00;" verticalAlignment="center"
                            (tap)="onItemTapFavorito(x)"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>

        <!--<Button class="-primary -rounded-sm" text="Ver Votos" (tap)="onButtonTap('/votos')" width="100"></Button> -->
    </StackLayout>
</PullToRefresh>