<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Featured"></Label>
</ActionBar>

<FlexboxLayout flexDirection="column" alignItems="center">
    <Label class="page__content-icon fas" text="&#xf005;"></Label>
    <Label class="page__content-placeholder" text="Algunas pruebas"></Label>

    <GridLayout class="bg-primary p-15 m-15" width="200" height="200" (longPress)="onLongPress($event)">
        <Image class="img-rounded" src="res://icon" stretch="none"></Image>
        <label text="Prueba de animación" fontSize="20" verticalAlignment="bottom"></label>
        <label text="LongPress"></label>
    </GridLayout>


    <Button text="-Información del movil!" (tap)="onDatosPlataforma()"></Button>

    <Button text="-Información del red!" (tap)="onMonitoreoDatos()"></Button>

    <Button (tap)="onButtonCorreo()" style="height: 48;">
        <FormattedString>
            <Span text="Email de usuario" style="font-size: 24px;"></Span>
        </FormattedString>
    </Button>

</FlexboxLayout>
