<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label class="page__content-placeholder" textDecoration="underline" text="Login"></Label>

    <FlexBoxLayout class="marco" flexDirection="column">
        <Label text="USUARIO: "></Label>
        <Label [text]="usuario"></Label>
        <Button text="Cambiar" (tap)="onButtonTap()"></Button>
        
        <settings-login *ngIf="getChangeFlag()"></settings-login>
    </FlexBoxLayout>


    <StackLayout class="hr"></StackLayout>

    <FlexBoxLayout class="marco" flexDirection="column" alignItems="center">
        <Label textDecoration="underline" text="Url de Ngrok: "></Label>
        <Label [text]="url"></Label>
        <settings-ngrok></settings-ngrok>
    </FlexBoxLayout>
    
   
</StackLayout>